*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 40%;
  padding: 20px;
}
.sidebar{
  background: #2A3F88;
  color: #fff;
  height: 969.57px;
  width: 210px;
  top: 92.43px;
  left: 33px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}

.logo{
  background-image: url("./logo_kse.jpg");
  width: 200px;
  height: 70px;
  display: flex;
  top: 0%; right: 0%; left: 0%; 
  justify-content:'center'; 
  align-items: center;
  background-size: 177px 74px;
}
.bars{
  display: flex;
  font-size: 30px;
  margin-left: 30px;
}
.link{
  display: flex;
  color: #fff;
  padding: 15px 15px;
  gap: 15px;
  transition: all 0s;
}
.link:hover{
  background:#D9D9D970;
  color: #ffffff;
  transition: all 0.5s;
}

.icon, .link_text{
  font-size: 16px;
}