/* *{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 40%;
  padding: 20px;
}
.sidebar{
  background: #2A3F88;
  color: #fff;
  height: 969.57px;
  width: 210px;
  top: 92.43px;
  left: 33px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}

.logo{
  background-image: url("./logo_kse.jpg");
  width: 210px;
  height: 70px;
  display: flex;
  top: 0%; right: 0%; left: 0%; 
  justify-content:'center'; 
  align-items: center;
  background-size: 177px 79px;
}

.link{ /* chu tim thanh trang, design text*/
 /* display: flex;
  color: #ffffff;
  padding: 15px 15px; /*dan cach dong va chu*/
/*  gap: 15px; /* dan icon voi chu */
/*  transition: all 0s;
}
.link:hover{
  background:#D9D9D970;
  color: #ffffff;
  transition: all 0s;
}

.icon, .link_text{
  font-size: 16px;
}

.link_SubMenu {
  flex: block;
  font-size: 16px;
} */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

